language: elixir
elixir:
  - 1.7.3
otp_release:
  - 21.0
dist: trusty
sudo: false
services: true

cache:
  directories:
    - _build
    - deps

before_install: true

before_script:
  - mix local.hex --force
  - mix deps.get --only test
  - mix deps.clean --unused
  - mix compile --warnings-as-errors
  - travis_wait mix dialyzer --plt

script:
 - mix test
 # - mix coveralls.travis
 - mix dialyzer --halt-exit-status